@charset "utf-8";

body {
  background-image: radial-gradient(at 0% 0%, #9aaeef, transparent),
  radial-gradient(at 100% 0%, #fa9b52, transparent),
  radial-gradient(at 0% 100%, #abafb3, transparent),
  radial-gradient(at 100% 100%, #fa9fde, transparent);
  width: 100%;
  height: 100vh;
}

.opening {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background-attachment: scroll; */
}

.opening_bg{
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
}


.opening .name{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: calc(100vw / 8.9);
  text-wrap: nowrap;
  position: absolute;
  top: calc(50% - 0.5em);
  width: 100%;
  text-align: center;
  display: none;
  background-image: radial-gradient(at 0% 0%, #9aaeef, transparent),
  radial-gradient(at 100% 0%, #fa9b52, transparent),
  radial-gradient(at 0% 100%, #abafb3, transparent),
  radial-gradient(at 100% 100%, #fa9fde, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profession{
  display: none;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  
}

.web_desighner{
  width: 70%;
}

.photgrapher{
  width: 80%;
}

.graphic_desighner{
  width: 91%;
}

.video_creator{
  width: 76%;
}

.scrolldown4{
  display: none;
  position:absolute;
  bottom:50%;
	right:5%;
  animation: arrowmove 1s ease-in-out infinite;
  position: fixed;
  top: 0%;
}

@keyframes arrowmove{
  0%{bottom:50%;}
  50%{bottom:53%;}
 100%{bottom:50%;}
}

.scrolldown4 span{
  position: absolute;
	left: -6px;
  margin: auto;
	bottom:120px;
  color: #ffffff;
	font-size: 0.7rem;
	letter-spacing: 0.05em;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.scrolldown4:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -6px;
  width: 1px;
  height: 20px;
  background: #ffffff;
  transform: skewX(-31deg);
}

.scrolldown4:after{
  content:"";
  position: absolute;
  bottom:0;
  right:0;
  width:1px;
  height: 100px;
  background:#ffffff;
}

/* ここからTOP画面 */

.top {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-attachment: scroll;
}

header{
  display: flex;
}

.menu{
  margin-left: 1%;
  width: 14%;
  position: fixed;
  top:5%;
  transition: all 0.3s ease 0s;
  visibility: visible;
  opacity: 1;
}

.menu.hidden{
  visibility: hidden;
  opacity: 0;
}


.contents{
  border-left: solid #ffffff 1px;
  margin-left: 5%;
  padding-left: 10px;
  color: #ffffff;
}

.contents.color_changed{
  color: #326b80;
  border-left: solid #326b80 1px;
}


.menu li{
  line-height: 1.7;
  margin-left: 3%;
  font-size: 120%;
}

.top_images{
  width: 95%;
  padding-left: 13%;
}

.top_title{
  position: absolute;
  right: 0;
  width: 28%;
  top: 40%;
}


/* ここからAbout Me */

.about_me{
  margin-top: 10%;
  background-color: #ffffff;
  clip-path: url(path);
  -webkit-clip-path: url(#pathh);
}

.profile{
  display: flex;
}

.profile_photo{
  margin-left: 5%;
  width: 50%;
}


.box_introduction{
  margin-top: 5%;
  margin-left: -5%;
  width: 40%;
}

.hello{
  font-size: calc(100vw / 11);
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #326b80;
  border-left: #326b80 solid 1px;
  padding-left: 3%;
  padding-bottom: 3%;
  
}

.introduction{
  font-size: calc(100vw / 60);
  color: #326b80;
  border-left: #326b80 solid 1px;
  padding-left: 3%;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  line-height: 1.3;
}

.container{
  margin-left: 20%;
  margin-top: 10%;
}

.web_design_logo{
  width: 32%;
}

.sentence{
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  line-height: 1.3;
  font-size: calc(100vw / 60);
  width: 40%;
  border-left: solid #ffffff 1px;
  padding-left: 1%;
}

