@charset "utf-8";

/* body {
    background-image: radial-gradient(at 0% 0%, #9aaeef, transparent),
    radial-gradient(at 100% 0%, #fa9b52, transparent),
    radial-gradient(at 0% 100%, #abafb3, transparent),
    radial-gradient(at 100% 100%, #fa9fde, transparent);
    background-attachment: fixed;
  } */

  .opening {
    position: relative;
  width: 100%;
  min-height: 100vh;
    background-image: radial-gradient(at 0% 0%, #9aaeef, transparent),
    radial-gradient(at 100% 0%, #fa9b52, transparent),
    radial-gradient(at 0% 100%, #abafb3, transparent),
    radial-gradient(at 100% 100%, #fa9fde, transparent);
    background-attachment: fixed;
  }


  .opening .name{
    font-family: "ヒラギノ角ゴ Std W8","Hiragino Kaku Gothic Std","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
    font-size: calc(100vw / 12);
    font-weight: bold;
    position: absolute;
    top: calc(50% - 0.5em);
    width: 100%;
    text-align: center;
    display: none;
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
  }